[lucene]
; The output directory for Lucene indexes.
dir=indexes

; The local host name that couchdb-lucene binds to
host=localhost

; The port that couchdb-lucene binds to.
port=5985

; Timeout for requests in milliseconds.
timeout=10000

; Default limit for search results
limit=25

; Allow leading wildcard?
allowLeadingWildcard=false

; CouchDB server mappings: specify here the CouchDB instance to connect
; to. The "local" keyword here is the server name, that is exposed on the URL
; namespace after the /_fti path.
; EXAMPLE: If your database is named "scriptoria", this will handle requests
; for /_fti/local/scriptoria/_design.
;
[local]
url = http://localhost:5984/
